# --- App ---
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Ticketing Next App

# --- External APIs ---
API_BASE_URL=http://192.168.77.30:6040
NEXT_PUBLIC_API_URL=http://192.168.77.30:6040
API_TIMEOUT_MS=15000

